*{
    margin: 0;
}

body {
    margin: 0;
    background-color: rgb(14, 151, 128);  
    padding-top: 300px;
}

.container {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.date {
    width: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 3px palevioletred;
    background-color: beige;
    border-radius: 5px;
    padding: 10px 5px;
}

.currentTime {
    display: flex;    
    font-size: 50px;
    color: palevioletred;  
}

.setTime {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 50px;
    color: rgb(221, 132, 49)
}